<!-- app/views/products/index.html.erb -->
<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <% if @products.present? %>
      <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
        <% @products.each do |product| %>
          <a href="<%= product_path(product) %>" class="group">
            <div class="aspect-w-1 aspect-h-1 w-48 h-48 overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75">
              <img src="<%= product.image_link %>" alt="<%= product.item_description %>" class="w-full h-full object-cover object-center lg:w-48 lg:h-48">
            </div>
            <h3 class="mt-4 text-sm text-gray-700"><%= product.item_description %></h3>
            <p class="mt-1 text-lg font-medium text-gray-900">$<%= product.price %></p>
            <p class="text-sm text-gray-700"><strong>Stock Quantity:</strong> <%= product.stock_quantity %></p>
            <p class="text-sm text-gray-700"><strong>Brand:</strong> <%= product.brand %></p>
            <p class="text-sm text-gray-700"><strong>Sub Category:</strong> <%= product.sub_category %></p>
            <p class="text-sm text-gray-700"><strong>Color:</strong> <%= product.color %></p>
            <p class="text-sm text-gray-700"><strong>Storage Capacity:</strong> <%= product.storage_capacity %></p>
            <p class="text-sm text-gray-700"><strong>SKU:</strong> <%= product.sku %></p>
          </a>
        <% end %>
      </div>
      <div class="mt-8">
        <%= paginate @products %>
      </div>
    <% else %>
      <p class="text-gray-700 mt-10">No products found.</p>
    <% end %>
  </div>
</div>
