<!-- app/views/products/index.html.erb -->
<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Our Products</h2>

    <div class="mb-4">
      <%= form_with url: products_path, method: :get, local: true do |f| %>
        <%= f.label :sale, 'On Sale' %>
        <%= f.check_box :sale %>
        <%= f.label :new, 'New' %>
        <%= f.check_box :new %>
        <%= f.label :recently_updated, 'Recently Updated' %>
        <%= f.check_box :recently_updated %>
        <%= f.submit 'Filter' %>
      <% end %>
    </div>

    <% if @products.present? %>
      <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        <% @products.each do |product| %>
          <%= render partial: 'products/product', locals: { product: product } %>
        <% end %>
      </div>
      <div class="mt-8">
        <%= paginate @products %>
      </div>
    <% else %>
      <p class="text-gray-700 mt-10">No products found.</p>
    <% end %>
  </div>
</div>
